USE [master]
GO
/****** Object:  Database [DataAnalaysis]    Script Date: 12/17/2024 11:54:36 AM ******/
CREATE DATABASE [DataAnalaysis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataAnalaysis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataAnalaysis.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataAnalaysis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataAnalaysis_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataAnalaysis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataAnalaysis]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 12/17/2024 11:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Oid] [int] NULL,
	[Pid] [int] NULL,
	[Price] [varchar](50) NULL,
	[Qty] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/17/2024 11:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[Pname] [varchar](50) NULL,
	[Cat] [varchar](50) NULL,
	[Subcat] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[Sellername] [varchar](50) NULL,
	[Photo1] [varchar](50) NULL,
	[Photo2] [varchar](50) NULL,
	[Photo3] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/17/2024 11:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Uid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Contact] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Order]    Script Date: 12/17/2024 11:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Order](
	[Oid] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NULL,
	[TotalItems] [varchar](50) NULL,
	[TotalPrice] [varchar](50) NULL,
	[DateTime] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Search]    Script Date: 12/17/2024 11:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Search](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [int] NULL,
	[Pid] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[OrderItems] ([Oid], [Pid], [Price], [Qty]) VALUES (1, 31, N'800', N'1')
INSERT [dbo].[OrderItems] ([Oid], [Pid], [Price], [Qty]) VALUES (2, 32, N'1,000', N'1')
INSERT [dbo].[OrderItems] ([Oid], [Pid], [Price], [Qty]) VALUES (3, 25, N'2,000', N'1')
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Pid], [Pname], [Cat], [Subcat], [Brand], [Price], [Sellername], [Photo1], [Photo2], [Photo3]) VALUES (1, N'Samsung Galaxy M13', N'Electronics', N'SmartPhones', N'Sumsung', N'11,000', N'Samsung Store', N'samsung1.jpg', N'samsung2.jpg', N'samsung3.jpg')
INSERT [dbo].[Product] ([Pid], [Pname], [Cat], [Subcat], [Brand], [Price], [Sellername], [Photo1], [Photo2], [Photo3]) VALUES (2, N'iPhone14', N'Electronics', N'SmartPhones', N'Apple', N'79,999', N'Apple Store', N'iphone1.png', N'iphone2.jpg', N'iphone3.jpg')
INSERT [dbo].[Product] ([Pid], [Pname], [Cat], [Subcat], [Brand], [Price], [Sellername], [Photo1], [Photo2], [Photo3]) VALUES (3, N'Realme', N'Electronics', N'SmartPhones', N'Realme', N'20,000', N'Reliance Digital', N'phone1.jpg', N'phone2.jpg', N'phone3.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Uid], [Name], [Contact], [Email], [Password]) VALUES (1, N'abc', N'9988772323', N'abc@gmail.com', N'123')
INSERT [dbo].[User] ([Uid], [Name], [Contact], [Email], [Password]) VALUES (2, N'xyz', N'986754231', N'xyz@gmail.com', N'12345')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Order] ON 

INSERT [dbo].[User_Order] ([Oid], [Uid], [TotalItems], [TotalPrice], [DateTime], [Status]) VALUES (1, 1, N'1', N'800', N'1-12-24', N'success')
INSERT [dbo].[User_Order] ([Oid], [Uid], [TotalItems], [TotalPrice], [DateTime], [Status]) VALUES (2, 1, N'1', N'1,000', N'2-12-24', N'success')
INSERT [dbo].[User_Order] ([Oid], [Uid], [TotalItems], [TotalPrice], [DateTime], [Status]) VALUES (3, 1, N'1', N'2,000', N'3-12-24', N'success')
SET IDENTITY_INSERT [dbo].[User_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Search] ON 

INSERT [dbo].[User_Search] ([Id], [Uid], [Pid]) VALUES (1, 1, 1)
INSERT [dbo].[User_Search] ([Id], [Uid], [Pid]) VALUES (2, 1, 11)
INSERT [dbo].[User_Search] ([Id], [Uid], [Pid]) VALUES (3, 1, 7)
SET IDENTITY_INSERT [dbo].[User_Search] OFF
GO
USE [master]
GO
